.flexBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container_1{
    background-color: rgb(209, 236, 228);
    padding: 10px;
}
.flexBox>div{

    margin: 1vh auto;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color:rgb(58, 58, 58); 
    color:snow;
/*     padding: 3px; */
   /*  line-height: 100%; */
    text-align: center;
 
  /*   padding: 75px 0px; */
}
.flexBox>div>div{
    line-height: 200px; 
}
#div_2{
     
    outline: 3px rgb(79, 37, 128) solid;
    border: 3px rgb(181, 158, 207) solid;
}
input{
    display: block;
    width: 90%;
    /* height: 30%; */
    margin: 3px auto;
   background-color: rgb(77, 77, 77);
}
input:focus{
    border: 3px rgb(255, 232, 104) solid;
}
button:active{
    background-color:orange;
}
button:focus{
    font-size:1.5em;
}
p:active{
    background-color:snow;
    color:black;
}
#div_1:hover{
    background-color:purple;
}
#btnDemo_1{
    cursor: pointer;
    display: block;
    margin: 3px auto;
    width: 90%;
    height: 30%;
    font-size: 1.5em;
    border: 0px rgb(142, 228, 219) solid;
    background-color: rgb(142, 228, 219);
    border-radius: 20px;
    box-shadow: 0px 10px 0px 0px  rgb(72, 177, 168);
}
#btnDemo_1:hover{
    position: relative;
    top:5px;
    box-shadow: 0px 5px  0px 0px  rgb(72, 177, 168);
}
#btnDemo_1:active{
    position: relative;
    top:10px;
    box-shadow: 0px 0px  0px 0px  rgb(72, 177, 168);
}
.translate{
    transform: translate(40px,40px);
}
.scale{
    transform: scale(1.2,0.8);
    transform-origin: 0 0;
}
.rotate{
    transform: rotate(45deg);
}
.rotateThenScale{
    transform:  rotate(45deg) scale(1.2,0.8);
}
.no_transition:hover{
   background-color: purple;
}
.transition_1{
    transition: background-color 0.2s  0s linear;
}
.transition_1:hover{
    background-color: purple;
}
.transition_2{
    border-radius:0px;

    transition: transform 0.8s ease-in-out   0.7s,
                     border-radius  0.4s linear   0.3s,
                     background-color 0.2s   linear 0s;
}

.transition_2:hover{
    background-color: peru;
    border-radius:50%;
    transform:  rotate(1turn) scale(0.5);
}
.flexBox>.imgOutDiv{
    position: relative;
    width: 480px;
    height: 270px;
    background-color: bisque;
    flex: 0 1 auto;
     overflow: hidden; 
}
.flexBox>.imgOutDiv>img{
    height:100%;
}
.flexBox>.imgOutDiv>.imgMask{
  position: absolute;
  top:0px;
  width: 100%;
  height: 100%;
}
.colorMask{
    position: absolute;
    top:0px;
    width: 100%;
    height: 100%;
    z-index:50;
    opacity: 0;
    transition:  opacity 0.3s ease-in-out  0s;
}
.imgMask:hover>.colorMask{

    opacity: 0.8;
}
.colorMask_1{
    background-color: brown;
}
.colorMask_2{
    background-color: turquoise;
}
.colorMask_3{
    background-color: orange;
}

.imgMask>i{
 
position: absolute;
top:45%;
left:45%;
/* margin: 0 auto;
line-height: 100%; */
transform: scale(0.2);
opacity: 0;
z-index:60;
transition:  opacity 0.3s ease-in-out  0.2s,
                  transform 0.3s ease-in-out  0.2s;
}

.imgMask:hover>i{
    transform: scale(1.5);
    opacity:2;
}
.keyF_Anim_Div>div{
    width:800px;
    height:400px;
    overflow: hidden;
}
.keyF_Anim_Div>div>div{
    line-height:1em;
}
.Keyframes_Anim_1>p{
    font-size: 20px;
    transform-origin: top left;
animation-name: rainbowText;
animation-duration: 3s;
animation-direction:normal;
animation-delay: 0s;
animation-fill-mode: both;
animation-iteration-count: infinite;
animation-play-state:running;
animation-timing-function: linear;
}
@keyframes rainbowText{
   0%{
       color:red;
       transform: scale(1);
   }
   25%{
    color:orange;
 
  }
  50%{
    color:yellow;
    transform: scale(2);
}
  75%{
    color:blue;
}
100%{
    color:red;
    transform: scale(1);
}
}
.keyF_Anim_Div>.Keyframes_Anim_direction>div{
    margin: 5px 0px;
    width:100px;
    height:100px;
    color:black;
    background-color: bisque;
    transform-origin:  left;
    animation-name: sliding;
    animation-duration: 3s;
 /*    animation-direction:normal; */
    animation-delay: 0s;
   /*  animation-fill-mode: both; */
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-timing-function: linear;
}
.keyF_Anim_Div>.Keyframes_Anim_direction>div:hover{
    animation-play-state:paused;
}
.keyF_Anim_Div>.Keyframes_Anim_direction>div:nth-of-type(1){
    animation-direction:normal; 
}
.keyF_Anim_Div>.Keyframes_Anim_direction>div:nth-of-type(2){
    animation-direction:reverse;
 }
 .keyF_Anim_Div>.Keyframes_Anim_direction>div:nth-of-type(3){
    animation-direction:alternate;
 }
@keyframes sliding{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(600px,0px);
    }
}
.keyF_Anim_Div>.Keyframes_Anim_fillMode>div{
    margin: 5px 0px;
    width:100px;
    height:100px;
    color:black;
    background-color: bisque;
    transform-origin:  left;
    animation-name: sliding_2;
    animation-duration: 3s;
    animation-direction:normal; 
 /*    animation-direction:normal; */
    animation-delay: 1s;
   /*  animation-fill-mode: both; */
    animation-iteration-count: 1;
    animation-play-state:running;
    animation-timing-function: linear;
}
@keyframes sliding_2{
    0%{
        transform: translate(200px,0);
    }
    100%{
        transform: translate(600px,0px);
    }
}

.keyF_Anim_Div>.Keyframes_Anim_fillMode>div:nth-of-type(1){
    animation-fill-mode:forwards;
}
.keyF_Anim_Div>.Keyframes_Anim_fillMode>div:nth-of-type(2){
    animation-fill-mode: backwards;
 }
 .keyF_Anim_Div>.Keyframes_Anim_fillMode>div:nth-of-type(3){
    animation-fill-mode: both;
 }
#Sky{
    height: 200px;
    background-color: rgb(177, 202, 194);
    animation-name: anim_sky;
    animation-duration: 3s;
    animation-direction:normal; 
 /*    animation-direction:normal; */
/*     animation-delay: 1s; */
   /*  animation-fill-mode: both; */
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-timing-function: linear;
    overflow: hidden;
 }
 @keyframes anim_sky{
    0%{
        background-color: rgb(0, 0, 5);
    }
   10%{
    background-color: pink;
    }
    30%{
        background-color: skyblue;
    }
    70%{
        background-color: skyblue;
    }
    90%{
        background-color: pink;
    }
    100%{
        background-color: rgb(0, 0, 5);
    }
}
 #Sun{
    width:100px;
    height:100px;
    background-color:orange;
    z-index: 50;
    border-radius: 200px;
    animation-name: anim_sun;
    animation-duration: 3s;
    animation-direction:normal; 
 /*    animation-direction:normal; */
/*     animation-delay: 1s; */
   /*  animation-fill-mode: both; */
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-timing-function: linear;
 }
@keyframes anim_sun{
    0%{
        transform: translate(0,200px);
        background-color: orange;
    }
   25%{
        transform: translate(200px,100px);
        background-color: yellow;
    }
    50%{
        transform: translate(350px,-50px);
      
    }
    75%{
        transform: translate(550px,100px);
        background-color: yellow;
    }
    100%{
        transform: translate(700px,200px);
        background-color: red;
    }
}
.Keyframes_Anim_SunAndSky>#Ground{
    height:300px;
    z-index: 99;
    background-color:rgb(156, 166, 173);
 }
 #LoadingIcon{
     width: 150px;
     height: 150px;
     margin: 100px auto;
     border:16px rgb(207, 207, 207) solid;
     border-top:16px rgb(86, 216, 136) solid;
     border-bottom:16px rgb(87, 190, 194) solid;
     background-color: rgb(238, 238, 238);
     border-radius: 150px;
     animation-name: anim_LoadingIcon;
     animation-duration: 2s;
     animation-direction:normal; 
  /*    animation-direction:normal; */
 /*     animation-delay: 1s; */
    /*  animation-fill-mode: both; */
     animation-iteration-count: infinite;
     animation-play-state:running;
     animation-timing-function: linear;
 }
 @keyframes anim_LoadingIcon{
      0%{
       transform: rotate(0turn);
      }
      50%{
        transform:rotate(0.5turn) scale(1.1) ;
    }
    100%{
        transform: rotate(1turn);
    }
 }