div{
    box-sizing: border-box;
}

#myBody{
    background-color: rgb(228, 237, 247);
}
.myHeader{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 4vh;
    background-color: rgb(197, 197, 197);

}
.myfooter{
    position: absolute;
    width: 100%;
    height:3vh;
    top:97vh;
    background-color:palegreen;
}
.myMain{
    z-index:5;
    position: absolute;
    /*top:3vh;*/
    width: 100%;
    height:100vh;
}

.mySideBar,.myContent{
    height:100%;
    box-sizing: border-box;
    margin:0px;
    overflow:auto;
}

.mySideBar{
    flex:0 1 200px;
    background-color: rgb(34, 34, 34);
    display: none;
   
}
.mySideBar>div{
    padding:5vh 3px;
    text-align: center;
    margin: 4px auto;
    color:white;
    font-size: 1.2em;
    border-top: 1px solid  rgb(199, 199, 199)
}
.myContent{
    margin: 4vh auto auto auto;
    flex:1 1 800px;
}
.myContent>div{
    width:90%;
    margin: 2vh auto;
}
.myContent>.title_1{
    
    border-bottom: 3px gray solid;
    height: 8vh;
}
.myContent>.title_1>h1{
    
    line-height:6vh; 
}
.myContent>div>h1{
    font-size: 3em;
}
.contentDiv{
    width:80%;
    margin: 30px auto;
    min-height:300px;
    background-color:lightskyblue; 
}
#MOOCDiv{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}
.classCard{
    box-sizing: border-box;
    background-color: rgb(253, 244, 230);
    flex:1 1 400px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    height: fit-content;
}
.classCard>*{
    float: left;
    display: block;
   
}
.classCard>div:first-of-type{
    width: 100%;
}
.classCard>div:first-of-type>img{
    width: 100%;
}
.classCard>.info{
    width:100%;
    padding: 2vh 1vw;
}
.classCard>.info>a{
    font-size: 2em;
}
.classCard>.info>div{
    padding: 5% 3%;
    font-size:1.6em;
}
#algorithmsBtnDiv{
    height: 10vh;
}
#algorithmsBtnDiv>a{
    display: block;
    height: 100%;
    width: 47%;
    margin: 0px 1%;
    float: left;
}
#algorithmsBtnDiv>a>.myBigButton{
   height: 100%;
   width: 100%;
   padding:0px 2%;
   border-radius:1vmin;
}
#algorithmsBtnDiv>a>.myBigButton>.imgDiv{
    float: left;
    height: 100%;
    width: 40%;
    padding: 5%;
}
#algorithmsBtnDiv>a>.myBigButton>.imgDiv>img,i{
    
   height: 90%;
   font-size: 5em;
   margin: 5% auto;
}
#algorithmsBtnDiv .myBigButton>.myBigBtnText{
    box-sizing: border-box;
    font-size: 0.75em;
    float: right;
    width: 59%;
    line-height: 10vh;
}