<!DOCTYPE html>
<html>
    <head>
        <title>BlogDemo</title>
        <link rel="stylesheet" type="text/css" href="/styles/semantic.min.css"> 
        <link rel="stylesheet" type="text/css" href="/styles/RESTful_Blog_additional.css" >
        <script src="/scripts/RESTful_Blog.js"> </script>
    </head>
    <body>
    <div class="ui fixed inverted menu">
    <div  id="myNav" class="ui container">
    <div class="header item" ><i id="navLogo" class="exchange icon"></i>BlogDemo</div>
    <a href="/" class="item" >Go Home</a>
    <a href="/BlogCreateNew" class="item" >Add Blog</a>
    </div>
    </div>