<!DOCTYPE html>
<html>
    <head>
        <title>CampInfo</title>
        <link rel="stylesheet" type="text/css"href="/styles/bootstrap_3.3.5.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/campInfo.css">
        <script src="/scripts/myUIWidgets.js"></script>
        <script src="/scripts/campInfo.js"></script>
    </head>
    <body>
<nav class="navbar navbar-default myNav">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="/">CampInfo</a>
    </div>
    <div  class="collapse navbar-collapse">
        <ul class=" nav navbar-nav navbar-right">
        <%if(currentUser==undefined){%>
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <%}else{%>
        <li id="username"><a href="#">Hello! <%=currentUser.username%></a></li> <!-- href="#": not link at all-->
        <li><a href="/logout">Logout</a></li>
        <%}%>
        </ul>
    </div>
  </div>


</nav>

<%if(Warning!="null"){%>
<%if(Warning.status=="success"){%>
<div class="container alert alert-success myPopUp"><%=Warning.content%></div>
<%}%>
<%if(Warning.status=="fail"){%>
<div class="container alert alert-danger myPopUp"><%=Warning.content%></div>
<%}%>
<%}%>