<% include partials/camp_header.ejs%>
<script src="/scripts/modernizr-custom.js"></script>
<link rel="stylesheet" type="text/css"href="/styles/LandingPage.css">
<script src="/scripts/campInfo.js"></script>
<div id="landing-header">
<h1>Welcome to CampInfo!!</h1>

<a href="/campSets" class="btn btn-lg btn-success">View All Camps</a>
</div>

    

<ul class="slideshow">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</div>
<% include partials/camp_footer.ejs %>