
<!DOCTYPE html>
<html>
    <head>
        <title>Movie Search Result</title>
    </head>
  <body>
  <form action="/searchMovies" method="post">
  <input type="text" name="MoviesKW" value="What to Search">
      <button>Send</button>
<% data.forEach(function(m){%>
<div><%= m.Title%></div>

<%})%>
  </form>
</body>
                
</html>