
<!DOCTYPE html>
<html>
    <head>
        <title>Movie Search</title>
    </head>
  <body>
  <form action="/searchMovies" method="post">
  <input type="text" name="MoviesKW" value="What to Search">
      <button>Send</button>
  </form>
</body>
                
</html>