
<!DOCTYPE html>
<html>
    <head>
        <title>ColorGame</title>
        <!-- <link rel="stylesheet" href="styles/design.css" /> -->

      	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="./public/myColorGame.css">
        <script src="./public/myColorGame.js"></script>
        <style>
        </style>
    </head>
  <body>
  <% include partials/test%>
    <h1 id="Main_1">The Great<div id="rgb">RGB</div> Guessing Game</h1>
    <div id="status_bar">
      <span id="span_rn"><button id="btn_rn">New Color</button></span>
      <span id="status_1">TRY</span>
      <span id="span_EH"> 
      <button id="btn_Easy">Easy</button>
      <button id="btn_Hard">Hard</button>
    </span>
    </div>
    <div id="container">
       <div class="square"></div>
      <div class="square"></div>
     <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
       </div>
     
        </body>
                
</html>
