i.icon{
  font-size:1.5em; 
}
.ui.text.container {
  margin:5em  auto 2em;
}
.alignCenter{
  text-align: center;
}
#footer{
  text-align: center;
}
.dateLine{
  height: 2.5em;
}
.ui.right.floated.menu{
  margin: 5px auto;
  min-height: 0px;
  border:none;
  box-shadow:none;
}
.ui.image img, .ui.image {
  width:30vw;
}
.myFrame{
  height:15vh ;
  overflow:auto;
  
}
#myNav{
  margin:auto auto auto 0px!important; 
}